.git
.github
.idea
release
vendor
node_modules
config.local.php
config.php.bak
install/installed.lock
engine/cache/*
engine/img/theme/*
*.rar
PULL_REQUEST.md
upload_github
plugins/*/
layouts/*/
!layouts/default
!layouts/_example
!layouts/_childexample
