parameters:
	level: 0
	paths:
		- admin
		- api
		- engine
		- install
		- locale
		- layouts/default
		- layouts/_example
		- layouts/_childexample
		- achievements.php
		- auctionChar.php
		- bans.php
		- blank.php
		- buypoints.php
		- changelog.php
		- changepassword.php
		- characterprofile.php
		- config.countries.php
		- config.php
		- contact.php
		- createcharacter.php
		- creatures.php
		- credits.php
		- deaths.php
		- downloads.php
		- failed.php
		- forum.php
		- forum_search.php
		- gallery.php
		- guilds.php
		- guildwar.php
		- helpdesk.php
		- highscores.php
		- house.php
		- houses.php
		- index.php
		- ipn.php
		- items.php
		- killers.php
		- login.php
		- logout.php
		- mailtest.php
		- market.php
		- monster_loot.php
		- myaccount.php
		- onlinelist.php
		- page.php
		- pagseguro_ipn.php
		- pagseguro_retorno.php
		- paygol_ipn.php
		- payment.php
		- payment_webhook.php
		- powergamers.php
		- protected.php
		- queststatus.php
		- recovery.php
		- register.php
		- serverinfo.php
		- settings.php
		- shop.php
		- spells.php
		- sub.php
		- success.php
		- support.php
		- topguilds.php
		- toponline.php
		- twofa.php
		- twtrNews.php
		- voting.php
	excludePaths:
		- engine/cache/*
	treatPhpDocTypesAsCertain: false
